<html>
    <head>
        <link rel="stylesheet" href="static/css/iot_index.css">
    </head>

    <body>
        <div class="topo" ></div>
        <div class="borda_esquerda" ></div>
        <div class="area_questionario" > 
            <div class="questionario" >
                <a href="/iot/register_sensor">Registrar Novo Sensor</a>
                <a href="/iot/register_actuator">Registrar Novo Atuador</a>
                <a href="/iot/view_sensors">Ver Sensores</a>
                <a href="/iot/view_actuators">Ver Atuadores</a>
            </div> 
        </div>

    </body>
</html>