{% extends "iot/Iot.html" %}
{% block main %}
<main class="main">
    
    <div class="container-fluid px-4">
        <div class="vertical-center">
            <div> 
                <div>
                    <a href="/iot/register_sensor">Registrar Novo Sensor</a>
                    <a href="/iot/register_actuator">Registrar Novo Atuador</a>
                    <a href="/iot/view_sensors">Ver Sensores</a>
                    <a href="/iot/view_actuators">Ver Atuadores</a>
                </div> 
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>

</main>

{% endblock main%}
