{% extends "iot/iot_index.html" %}
{% block content %}
    <head>
        <link rel="stylesheet" href="static/css/iot_index.css">
    </head>

    <body>
        <div>
                <form enctype="multipart/form-data" action="/iot/save_sensors" method="POST">
                    <input placeholder = 'Nome', name = 'name', id = 'name', type='text'>
                    <input placeholder = 'Modelo', name = 'model', id = 'model', type='text'>
                    <input placeholder = 'Marca', name = 'brand', id = 'brand', type='text'>
                    <input placeholder = 'Tensão', name = 'voltage', id = 'voltage', type='text'>
                    <input placeholder = 'Unidade de Medida', name = 'measure', id = 'measure', type='text'>
                    <input placeholder = 'Informações Adicionais', name = 'description', rows = 1, id = 'description'>
                    <input type="checkbox" placeholder = 'Sensor ativo', name = "is_active", id = "is_active", checked=''>
                    <button type="submit" >Cadastrar Sensor</button>
                </form>
        </div>

    </body>

{% endblock %}
