<html>
    <head>
        <title> Estacionamento de John Doe</title>
        <meta charset="utf-16">
    </head>

<body>
    <h2> Estacionamento </h2>
    <h3> Veja o que deseja fazer </h3>
    <ul>
        <li><a href="/auth/cadastrar"> Faça seu Cadastro</a></li>
        <li><a href="#"> Gerenciamento</a></li>
        <li><a href="/auth"> Faça seu Login</a></li>
    </ul>
    <div id="contentex">
        {% block content %} {% endblock %}
    </div>

    <p> Voltar para <a href="/"> Página Incial</a></p>
</body>

</html>