{% extends "ajuda/Ajuda_index.html" %}
{% block main %}

  <div class="ajuda-page">
    <h2> Necessita de ajuda para algo mais? Aconteceu algo?</h2>
    <p><a href="/ajuda/conserto">Sensor precisa de conserto</a>!</p>
    <p><a href="/ajuda/listar_consertos">Ver os concertos</a>!</p>
    <p><a href="/ajuda/reclamacao">Reclamação</a>!</p>
    <p><a href="/ajuda/listar_reclamacoes">Ver as Reclamações</a>!</p>
    <p><a href="/ajuda/listar_solucao">Ver todas as chamadas solucionadas</a>!</p>
  </div>

</html>   
{% block content %} {% endblock content%}
{% endblock main%}