<html>
    <head>   
    </head>
    
    <body>
    <div>
        <form action="/ajuda/conserto_geral" method="POST">
            <input type="text" id="numero_vaga" name="numero_vaga" placeholder="O número da vaga:"/>
            <input type="text" id="descricao" name="descricao" placeholder="Uma descrição do problema:"/>
            <button type="submit"  name="submit" value="submit" >Mandar</button>
        </form>
        <p>Voltar para <a href="/">página inicial</a>!</p>
    </div>

    </body>
</html>   