{% extends "ajuda/Ajuda.html" %}
{% block content %}
    
    <body>
    <div class="ajuda-page">
        <p>Descreva o problema que o sensor tem:</p>
        <form action="/ajuda/conserto_geral" method="POST">
            <p>"Número da vaga: "</p>
            <select id="numero_vaga" name="numero_vaga">
                {% for v in vaga %}
                    <option value="{{ v.id }}">{{ v.id }}</option>
                {% endfor %}
            </select>
            <input type="text" id="descricao" name="descricao" placeholder="Uma descrição do problema:" required/>
            <button type="submit"  name="submit" value="submit" >Mandar</button>
        </form>
        <p>Voltar para <a href="/">página inicial</a>!</p>
        <p><a href="/ajuda/listar_consertos">Ver os concertos</a>!</p>
    </div>

    </body>

{% endblock %} 