<!-- funcionario.html -->
{% extends "Base.html" %}
{% block content %}
        <h1>Funcionarios</h1>
        <ul>
            {% for item in funcionarios %}
            <li>{{ item.id }}</li>
            <li>{{ item.name }}</li>
            <li>{{ item.username }}</li>
            <li>{{ item.cpf }}</li>
            <li>{{ item.email }}</li>
            <li>{{ item.contato }}</li>
            <li>{{ item.sexo }}</li>
            <li>{{ item.idade }}</li>
            <li>{{ item.password }}</li>
            <br>
            {% endfor %}
        </ul>

{% endblock %}
