<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./static/css/login.css" >
    </head>
    
    <body>
    <div class="login-page">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="form">
                {{ messages[0] }} </a>
            </div>
        {% endif %}
        {% endwith %}
        <div class="form">
        <form class="login-form" action="/auth/login_salvo" method="POST">
            <input type="text" placeholder="Nome de usuario ou Login" name="usuario" id="usuario" required/>
            <input type="password" placeholder="Senha" name="password" id="password" required/>
            <button type="submit">login</button>
        </form>
        <p class="message">Sem registro? <a href="/auth/cadastrar">Crie uma conta</a></p>
        </div>
    </div>

    </body>
</html>   